on:
  workflow_call:
    inputs:
      type:
        description: "Use make or just to install project dependencies"
        required: false
        type: string
      trunk-arguments:
        description: Extra arguments to pass to trunk
        required: false
        type: string
      trunk-check-mode:
        description: "Trunk check mode. Leave unset to autodetect changes. Set to 'all' to check the entire repository."
        required: false
        type: string

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: install just, if required
        if: inputs.type == 'just'
        uses: extractions/setup-just@95b912dc5d3ed106a72907f2f9b91e76d60bdb76 # pin@v1
        with:
          just-version: '1.13.0'

      - name: install dependencies with make, if required
        if: inputs.type == 'make'
        run: make deps

      - name: install dependencies with just, if required
        if: inputs.type == 'just'
        run: just deps

      - name: trunk check
        uses: trunk-io/trunk-action@9cf65e08e822e9842fd9ef7ed2a2bd9092de0986 # pin@v1
        with:
          check-mode: ${{ inputs.trunk-check-mode }}
          arguments: ${{ inputs.trunk-arguments }}

      - name: upload trunk failure logs, if any
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: .trunk/out
          path: .trunk/out
